<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated gsn -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.example.gsn.gsn.presentation.GsnModelWizardID"
            name="%_UI_GsnModelWizard_label"
            class="com.example.gsn.gsn.presentation.GsnModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GsnModelFile.gif">
         <description>%_UI_GsnModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated gsn -->
      <editor
            id="com.example.gsn.gsn.presentation.GsnEditorID"
            name="%_UI_GsnEditor_label"
            icon="icons/full/obj16/GsnModelFile.gif"
            extensions="gsn"
            class="com.example.gsn.gsn.presentation.GsnEditor"
            contributorClass="com.example.gsn.gsn.presentation.GsnActionBarContributor">
      </editor>
   </extension>

</plugin>
