<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="gsn.design.Activator"
               id="gsn.design"
	       name="gsn">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="gsn.design.validation.RunEvlValidationAction"
           id="runValidation">
     </javaActions>
  </extension>
</plugin>
